body{
    background-image: linear-gradient(to right, black, rgb(0, 61, 0));
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.image{
    margin:.5rem;
    background-color: rgb(70, 134, 5);
    color: white;
    border-radius: 10px;
transition: all .3s;
    
}

.image:hover{
    transform: scale(1.02);
}
h1{
    font-family: 'Bigelow Rules', cursive;
    color: white;

}
input{
    border: 1px solid black;
    padding: 1rem ;
    width: 250px;
}